@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

#txt-tcketsaida{
 text-align: center;
 margin-bottom: -8px;   
}

body{
    background-color: rgb(255, 255, 255);
}

.containerModel_entrada{
     width: 100%;
     height: 100vh;
     background-color: rgba(134, 134, 134, 0.322);
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     z-index: 1;
     /* visibility: hidden; */
     
     
}

.active{

    visibility: visible;
    
}


.containerModel_entrada .img{
    width: 80%;
    display: flex;
    justify-content: end;
    padding-right: 50px;
    margin-bottom: -60px;
}

#checkEntrada{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 65%;
    background-color: #FFF7AE;
}

.content{
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-left: 10px;
    display: grid;
    display: block;
    
}

.content h1{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    
}

.content p{
    display: flex;
    margin-bottom: 20px;
}

.content span{
   display: grid;
   grid-template-columns: 50% 50% ;
   margin-bottom: 50px;
   
}

.vagamodal_entrada{
   display: flex;
   flex-direction: column;
   gap: 20px;
   margin-bottom: 10px;
  
    
}
.vagamodal_entrada p{
    width: 50%;
    word-spacing: 3px;
}
#Entrada_model{
    width: 90%;
    display: flex;
    justify-content: end;
}

p{
    font-family: 'Inter', sans-serif;
    font-size: 21px;
}

@media(max-width:950px){


    #checkEntrada{
        width: 90%;
        height: auto;
       
    }
    .content{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
      
    .content h1{
        font-size: 1rem;
    }
}


@media(max-width:500px){
    #checkEntrada{
        width: 100%;
        min-height:auto;
        height: 100%;
       
    }

    #containerModel_entrada .img{
        margin-bottom: 5px;    
       
    }

    .content span{
        display: flex;
        flex-direction: column;
    }

}