#txt-novo-status{
    position: absolute;
    top: 125px;
    left: 350px;
}


#txt-nome{
    margin-bottom: 10px;
    margin-left: 9px;
}

#model-field{
    min-width: 200%;
    max-width: 300%;
    height: 34px;
    padding-left: 10px;
}

#model-submit-editar{
    top: 450px;
    left: 68em;
    background-color: rgb(199, 199, 199);
}

.button{
    border-style: none;
    height: 30px;
    padding: 6px 12px;
    background-color: black;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: box-shadow .6s ease;
    border-radius: 5px 5px 5px ;
    margin-right: 13px;
}

.button.blue{
    background-color: #1FB6FF;
}

/* parte pra alinhar os botoes */
button.green{
    background-color: #13CE66;
    margin-left: -20%;
}

button.red{
    background-color: #FF4949;
}

.button:hover{
    box-shadow: inset 200px 0 0 #00000055;
}

#selecao{
    margin-top: -12%;
    margin-left: 25%;
    min-width: 30%;
    max-width: 40%;
}





