#txt-novo-status{
    position: absolute;
    top: 125px;
    left: 350px;
}


#txt-nome{
    margin-bottom: 300px;
    margin-left: 9px;
}

#search{
    position: absolute;
    right: 52em;
    top: 340px;
    width: 450px;
    height: 34px;
    padding-left: 10px;
}

#model-submit-editar{
    top: 450px;
    left: 68em;
}