.modal-conteiner{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C9C9C9;
    opacity: 0;
    z-index: -1;
   
}
.modal-conteiner.active{
    z-index: 1;
    opacity: 1;
    transition: all 1s;
}
.modal-content{
    height: 80%;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 10px #fff;
    padding: 24px;

}
.modal-content form{
    display: flex;
    flex-direction: column;
}

header{
    justify-content: center;
    align-items: center;
    display: flex;
   
}
#divmaeselectds-model{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-bottom: 20px ;
}

.selectdsmodel{
    margin-top: -200px;
    margin-right: 110px;
    height: 32px;
    width: 210px;  
    font-family: 'Inter', sans-serif; 
    font-size: 20px;
    padding-left: 10px;
}

#txt-novaga-model{
    margin-top: -510px;
}
#selecao{
justify-content: center;
align-items: center;
display: grid;
margin-right: 300px;
}

#status-model{
    margin-bottom: 10px;
}
#status-automovel{
    margin-top: 28px;
}


.select-setor{
    position: absolute;
    left: 45em;
    top: 25em;
    font-family: 'Inter', sans-serif; 
    font-size: 20px;
    padding-left: 10px;
    height: 32px;
    width: 210px;
}

.select-corredor{
    position: absolute;
    left: 45em;
    top: 22em;
    font-family: 'Inter', sans-serif; 
    font-size: 20px;
    padding-left: 10px;
    height: 32px;
    width: 210px;
}

#model-submit-editar{
    position: absolute;
    top: 40em;
    left: 61em;
    width: 133px;
    height: 60px;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    font-size: 1em;

}
#model-submit-deletar{
    position: absolute;
    top: 40em;
    left: 49em;
    width: 133px;
    height: 60px;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    font-size: 1em;

}
#imgfecharmodal{
    cursor: pointer;
    position: absolute;
    left: 100em;
    top: 90px;
}

